html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

nav h3 {
  color: white;
  margin: 0;
  text-align: center;
  height: 60px;
  vertical-align: middle;
  line-height: 60px;
}
.hero-section {
  margin: 0;
  background-color: rgb(35, 35, 35);
}
.background {
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  width: 100%;

  background-size: cover;
}
.background::before {
  content: "";
  display: block;
  position: absolute;
  top: 80;
  left: 0;
  height: 700px;
  width: 100%;
  z-index: 1;
  background-color: rgba(46, 46, 46, 0.8);
}
.movie-info {
  width: 40%;
  z-index: 2;
  color: rgb(255, 255, 255);
}
.poster {
  z-index: 2;
  height: 500px;
  width: 400px;
  background-color: blue;
  margin-left: 80px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.movie-name {
  font-size: 50px;
}

.bullet:not(:last-child)::after {
  content: " •"; /* Adds a bullet character after the span */
  padding: 5px;
  color: rgb(255, 255, 255); /* You can customize the color */
  font-size: 14px;
}

.rating {
  display: flex; /* Enable flexbox */
  align-items: center;
}

.score,
.user-score {
  display: inline-block;
  margin-right: 10px;
}
.score {
  font-size: 20px;
  width: 80px;
  height: 80px;
  background-color: rgba(66, 87, 87, 0.4);

  border-radius: 50%;
  display: flex; /* To center the text vertically and horizontally */
  align-items: center; /* Centers the text vertically */
  justify-content: center; /* Centers the text horizontally */
  text-align: center;
}
.yellow {
  color: rgb(233, 233, 103);
}
.green {
  color: #33f553;
}
.release-genre {
  display: flex;
  gap: 10px;
  align-items: center;
}

.popular-container h2 {
  margin: 0px 80px;
  padding: 40px 40px 40px 0px;
  color: rgb(228, 227, 227);
}
.popular-container {
  width: 100%;
  margin: 0px;
  background-color: rgb(26, 26, 26);
}
.movie-list {
  display: flex;
  gap: 30px;
  margin-left: 80px;
  overflow-x: auto;
}
.release-date,
.movie-name {
  font-size: 18px;
  color: rgb(228, 228, 228);
  padding-top: 10px;
}
